mojo/castor-maven-plugin/src/test/projects/castor-1/src/main/castor/mapping.xml

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://castor.exolab.org/Examples">
    <complexType name="A">
        <sequence>
            <element name="B" type="string"/>
            <element name="C" type="string"/>
        </sequence>
    </complexType>
</schema>